<div class="review">
  <p class="reviewAuthor">Posted by {{username}}</p>
  <p class="reviewDate">{{date}}</p>
  <p class="reviewRating">Rating: {{rating}}</p>
  <p class="reviewSafetyRating">Safety Rating: {{safetyRating}}</p>
  <p class="reviewLikes">Likes: {{likes}}</p>
  <p class="reviewDislikes">Dislikes: {{dislikes}}</p>
  <input type="submit" value="Like" class="reviewLikeButton" />
  <input type="submit" value="Dislike" class="reviewDisikeButton" />
  <p class="reviewContent">{{content}}</p>
  {{!-- <input type="submit" value="Post a Comment for this Review!" onlick="submitComment({{id}})"
    id="postCommentButton" /> --}}
  <!-- We will replcae input with our form! -->
  <form method="POST" id="commentForm" action="/reviews/{{_id}}/comments">
    <!-- Where the full link would be something like /reviews/locationId/comments/reviewId, but idrk -->
    <label for="commentText">Write Your Comment:</label>
    <br>
    <textarea id="c" name="commentText" required minlength="1" maxlength="1000"></textarea>
    <br>
    <button type="submit">Post Comment</button>
  </form>
  {{#each comments}}
  {{> comment this}}
  {{/each}}
</div>