<!--
    Handlebars Variable:
        reports array (contains report objects)
        each report has: id, content, type, reason
        isLocation, isComment, isReview,
-->
{{> navbar}}

<ul>
  {{#each reports}}
  <li class="report">
    <p>Reporter: {{reporter}}</p>
    <p>Content in Reported {{type}}: {{content}}</p>
    <button onclick="reportDeletionHandler('{{id}}')">Delete {{type}}</button>
  </li>
  {{/each}}
</ul>
<script src="../public/js/admin.js"></script>