<!--
    Handlebars Variable:
        reports array (contains report objects)
        each report has: id, content, type, reason
        isLocation, isComment, isReview,
-->
{{> navbar}}
<div class="page-content">
  <h1>Admin Dashboard</h1>
  {{#if reports.length}}
  <ul style="list-style:none;padding:0;">
    {{#each reports}}
    <li class="report">
      <p><strong>Type:</strong> {{type}}</p>
      <p><strong>Report:</strong> {{content}}</p>
      <p><strong>Reporter Email:</strong> {{reporter}}</p>
      <button onclick="reportDeletionHandler('{{id}}')">Delete {{type}}</button>
      <button onclick="reportIgnoreHandler('{{id}}')">Ignore</button>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No reports to review.</p>
  {{/if}}
  <script src="../public/js/admin.js"></script>
</div>
{{> footer}}