{{!
Handlebars Variables:
errors: array for errors that occur during registration
}}
{{> navbar}}

<ul class="errorList" id="errors">
  {{#if errors}}
  {{#each errors}}
  <li>{{this}}</li>
  {{/each}}
  {{/if}}
</ul>

<form id="register-form" name="register-form" method="POST" enctype="multipart/form-data">
  <label for="firstName">First Name: </label>
  <input type="text" id="firstName" name="firstName" value="{{currForm.firstName}}" />
  <br />
  <label for="lastName">Last Name: </label>
  <input type="text" id="lastName" name="lastName" value="{{currForm.lastName}}" />
  <br />
  <label for="username">Username: </label>
  <input type="text" id="username" name="username" value="{{currForm.username}}" />
  <br />
  <label for="age">age: </label>
  <input type="number" id="age" name="age" min="13" max="120" value="{{currForm.age}}" />
  <br />

  <label for="email">Email: </label>
  <input type="email" id="email" name="email" value="{{currForm.email}}" />
  <br />
  <label for="password">Password: </label>
  <input type="password" id="password" name="password" />
  <br />
  <label for="confirmPass">Confirm Password: </label>
  <input type="password" id="confirmPass" name="confirmPass" />
  <br />

  <label for="profilePic">Profile Picture: </label>
  <input type="file" id="profilePic" name="profilePic" accept="image/*" />
  <br />

  <label for="adminSecret">Admin Secret (leave blank to remain a regular user): </label>
  <input type="text" id="adminSecret" name="adminSecret" />
  <br />

  <input type="submit" id="registerButton" name="registerButton" value="Register" />
</form>